In [1]:
import pandas as pd
import numpy as np
import nfl_data_py as nfl
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [2]:
chap_2_file = "./data/pbp_py_chap_2_2.csv"

if os.path.isfile(chap_2_file):
    pbp_py = pd.read_csv(chap_2_file, low_memory=False)
else:
    pbp_py = nfl.import_pbp_data([2025])
    pbp_py.to_csv(chap_2_file)

In [3]:
pbp_py_p_s = pbp_py.groupby(["passer_id", "passer"]).agg(
    {"passing_yards": ["mean", "count", "sum"]}
)

In [4]:
pbp_py_p_s.columns = list(map("_".join, pbp_py_p_s.columns.values))

In [6]:
pbp_py_p_s.rename(
    columns={"passing_yards_mean": "ypa", "passing_yards_count": "n", "passing_yards_sum": "sum"}, inplace=True
)

In [9]:
pbp_py_p_s.sort_values(by=["ypa"], ascending=False).head()

                         ypa  n   sum
passer_id  passer
00-0035645 G.Olszewski  33.0  1  33.0
00-0036414 C.Akers      32.0  1  32.0
00-0036259 J.Jennings   29.0  1  29.0
00-0033357 T.Hill       28.5  2  57.0
00-0033400 M.Haack      28.0  1  28.0

In [11]:
pbp_py_p_s_50 = pbp_py_p_s.query("n >= 50").sort_values(by=["ypa"], ascending=False)
pbp_py_p_s_50.head()

                             ypa    n     sum
passer_id  passer
00-0034796 L.Jackson   13.276042  192  2549.0
00-0039851 D.Maye      12.509044  387  4841.0
00-0034869 S.Darnold   12.453731  335  4172.0
00-0026498 M.Stafford  12.196759  432  5269.0
00-0032268 M.Mariota   12.194245  139  1695.0

In [41]:
pbp_py["pass_length_air_yards"] = np.where(
    pbp_py["air_yards"] >= 20, "long", "short"
)
pbp_py_p_s_pl = pbp_py.groupby(
    ["passer_id", "passer", "pass_length_air_yards"]
).agg({"passing_yards": ["mean", "count", "sum"]})

In [42]:
pbp_py_p_s_pl.columns = list(map("_".join, pbp_py_p_s_pl.columns.values))
pbp_py_p_s_pl.rename(
    columns={"passing_yards_mean": "ypa", "passing_yards_count": "n", "passing_yards_sum": "sum"}, inplace=True
)

In [43]:
pbp_py_p_s_pl.reset_index(inplace=True)

In [61]:
q_value = (
    "(n >= 50 & "
    + 'pass_length_air_yards == "short") | '
    + "(n >= 5 & "
    + 'pass_length_air_yards == "long")'
)
pbp_py_p_s_pl = pbp_py_p_s_pl.query(q_value).reset_index()

In [62]:
cols_save = ["passer_id", "passer", "pass_length_air_yards", "ypa"]
air_yards_py = pbp_py_p_s_pl[cols_save].copy()

In [63]:
print(
    pbp_py_p_s_pl[["pass_length_air_yards", "passer", "ypa"]]
    .sort_values(["passer", "pass_length_air_yards"])
    .to_string()
)

   pass_length_air_yards        passer        ypa
1                   long     A.Rodgers  34.375000
2                  short     A.Rodgers   8.896341
79                 short        B.Cook   8.069767
28                  long    B.Mayfield  35.619048
29                 short    B.Mayfield   9.145963
66                  long         B.Nix  30.896552
67                 short         B.Nix   8.607792
57                  long       B.Purdy  27.571429
58                 short       B.Purdy   9.521531
60                  long       B.Young  31.950000
61                 short       B.Young   8.642623
62                  long      C.Stroud  35.315789
63                 short      C.Stroud   9.600000
82                  long        C.Ward  30.954545
83                 short        C.Ward   8.265781
16                  long       C.Wentz  35.571429
17                 short       C.Wentz   9.388350
74                  long    C.Williams  29.358974
75                 short    C.Williams  10.103550
86                 short     D.Gabriel   8.268519
37                  long       D.Jones  35.125000
38                 short       D.Jones  10.363265
68                  long        D.Maye  31.447368
69                 short        D.Maye  10.446991
50                  long       D.Mills  29.333333
51                 short       D.Mills   8.694118
18                  long    D.Prescott  36.931034
19                 short    D.Prescott   9.282667
11                  long       G.Smith  34.000000
12                 short       G.Smith   8.763066
30                  long       J.Allen  29.826087
31                 short       J.Allen  10.137536
22                  long    J.Brissett  29.266667
23                 short    J.Brissett   9.756667
34                  long    J.Browning  37.800000
35                 short    J.Browning   7.657895
48                  long      J.Burrow  32.200000
49                 short      J.Burrow   9.122699
70                  long     J.Daniels  30.700000
71                 short     J.Daniels   9.182692
84                  long        J.Dart  31.071429
85                 short        J.Dart   9.094059
52                  long      J.Fields  26.200000
53                 short      J.Fields   9.170732
3                   long      J.Flacco  30.400000
4                  short      J.Flacco   8.572034
20                  long        J.Goff  27.421053
21                 short        J.Goff  10.810160
44                  long     J.Herbert  31.500000
45                 short     J.Herbert   9.343284
46                  long       J.Hurts  36.708333
47                 short       J.Hurts   8.658621
42                  long        J.Love  31.931034
43                 short        J.Love   9.713287
76                  long    J.McCarthy  34.900000
77                 short    J.McCarthy   9.869231
13                  long     J.Winston  32.000000
10                 short     K.Cousins   9.777778
36                 short      K.Murray   7.650943
26                  long     L.Jackson  32.421053
27                 short     L.Jackson  11.173410
56                 short       M.Jones  10.216080
14                  long     M.Mariota  35.583333
15                 short     M.Mariota   9.984252
72                  long       M.Penix  30.555556
73                 short       M.Penix  10.872611
5                   long    M.Stafford  32.325000
6                  short    M.Stafford  10.142857
59                  long      M.Willis  32.857143
24                  long     P.Mahomes  35.380952
25                 short     P.Mahomes   9.673469
0                  short      P.Rivers   9.192982
78                 short       Q.Ewers   9.557692
8                   long      R.Wilson  36.250000
9                  short      R.Wilson   8.868852
32                  long     S.Darnold  34.448276
33                 short     S.Darnold  10.369281
64                  long     S.Rattler  37.600000
65                 short     S.Rattler   7.378049
80                  long     S.Sanders  38.222222
81                 short     S.Sanders   9.513514
39                 short     T.Huntley   7.647059
54                  long    T.Lawrence  29.516129
55                 short    T.Lawrence  10.057927
87                  long      T.Shough  37.200000
88                 short      T.Shough   9.535545
40                  long  T.Tagovailoa  33.400000
41                 short  T.Tagovailoa   9.304000
7                  short      T.Taylor   8.727273

In [60]:
pbp_py[(pbp_py.passer == 'L.Jackson') & (pbp_py.pass_length_air_yards == "long")].loc[203].air_yards

22.0

In [64]:
pbp_py_p_s_pl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  89 non-null     int64
 1   passer_id              89 non-null     object
 2   passer                 89 non-null     object
 3   pass_length_air_yards  89 non-null     object
 4   ypa                    89 non-null     float64
 5   n                      89 non-null     int64
 6   sum                    89 non-null     float64
dtypes: float64(2), int64(2), object(3)
memory usage: 5.0+ KB

In [65]:
len(pbp_py_p_s_pl.passer_id.unique())

50

In [66]:
sns.lmplot(data=pbp_py_p_s_pl, x="ypa", y="ypa_last", col="pass_length_air_yards")
plt.show()

KeyError: "['ypa_last'] not in index"